
Save Files/
Screenshots/
Helpful Notes/
Audio/BGM/Deluxe
Data/Actors.rxdata
Data/Animations.rxdata
Data/Armors.rxdata
Data/Enemies.rxdata
Data/Items.rxdata
Data/MapInfos.rxdata
Data/Skills.rxdata
Data/States.rxdata
Data/PokemonSystemSettings.dat
